<!DOCTYPE html>
<html>
{% extends "base.html" %}
{% block title %}Contact - Dhanushree{% endblock %}
{% block content %}
    <h2>Contact Me</h2>
    <p>You can reach me at:</p>
    <ul class="list-unstyled">
        <li><strong>Email:</strong> <a href="mailto:dhanushreedhanaraj4@gmail.com">dhanushreedhanaraj4@gmail.com</a></li>
        <li><strong>GitHub:</strong> <a href="https://github.com/dhanushree4" target="_blank">https://github.com/dhanushree4</a></li>
        <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/dhanushree-d-1334b625b" target="_blank">https://www.linkedin.com/in/dhanushree-d-1334b625b</a></li>
    </ul>
{% endblock %}

</html>
