{% extends "base.html" %}
{% block title %}Home - Dhanushree D{% endblock %}
{% block content %}
<div class="text-center">
    <h1 class="display-4 mb-3">👋 Hi, I'm <strong>Dhanushree</strong></h1>
    
    <p class="lead">
        A passionate technologist dedicated to crafting intelligent, human-centered digital experiences by blending the power of Artificial Intelligence, full-stack development, and creative problem-solving.


    <p>
        With a strong foundation in AI/ML, I specialize in developing systems that not only process data intelligently but also enhance user experience through thoughtful design and functionality. Whether it’s building smart applications with deep learning, engineering fraud detection systems using advanced machine learning models, or creating intuitive and responsive front-end interfaces, I approach every project with a blend of technical expertise, innovation, and user empathy. Driven by curiosity and a love for continuous learning, I thrive in environments that challenge me to think differently, transform ideas into impactful solutions, and bridge the gap between technology and human needs.
    </p>
    <h4 class="text-center">I am a <span id="typed-tagline"></span></h4>
    <a href="/about" class="btn btn-outline-primary btn-lg mt-3">Know More About Me</a>
</div>
{% endblock %}

